/* TODO: Write the needed additional styles here*/
.choice-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 20px;
}

.choice-grid div {
  width: 32.5%;
  box-sizing: border-box;
  border: 1px solid #dcdcdc;
  background-color: #f4f4f4;
  padding: 10px;
}
@media (max-width: 700px) {
  body {
    width: 95%;
  }
  .yellow-circles {
    display: none;
  }
}

@media (max-width: 500px) {
  .choice-grid div {
    width: 49%;
  }
}